version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: maria_db_1
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data  # ДОБАВИТЬ эту строку
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  backend:
    build: ./backend
    restart: unless-stopped
    ports:
      - "5000:5000"
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_HOST: db
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  frontend:
    image: nginx:stable-alpine
    container_name: maria_frontend_1
    restart: always
    volumes:
      - ./frontend:/usr/share/nginx/html  # ИЗМЕНИТЬ: монтировать всю папку
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
